<h1>Editing medical interview</h1>

<%= render "form", medical_interview: @medical_interview %>

<br>

<div>
  <%= link_to "Show this medical interview", @medical_interview %> |
  <%= link_to "Back to medical interviews", medical_interviews_path %>
</div>
